@font-face {
    font-family: 'JetBrains Mono';
    src: url('/webfonts/JetBrainsMono-Light.woff2') format('woff2'),
         url('/webfonts/JetBrainsMono-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

body {
    background-color: #1d1f21; /* Darker background color closer to Linux terminal */
    color: #00ff00; /* Bright green text color */
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    border: 2px solid #00aa00; /* Bright green border color */
    font-family: 'JetBrains Mono', monospace;
    width: 80%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Ensures the train stays within the viewport */
    background-color: #1d1f21; /* Darker terminal background */
    position: relative; /* To position the train within this element */
}

#content {
    white-space: pre-wrap;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
}

#terminal-output {
    flex: 2;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.85em; /* Smaller font size for sharper text */
    position: relative; /* To ensure the train is positioned within this element */
}

#terminal-input {
    background: none;
    border: none;
    color: #00ff00; /* Bright green text color */
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.85em; /* Smaller font size for sharper text */
    outline: none;
    width: 100%;
}

.train {
    position: absolute;
    white-space: pre;
    font-family: 'JetBrains Mono', monospace;
    top: 50%;
    transform: translateY(-50%);
}
