@font-face {
    font-family: 'JetBrains Mono';
    src: url('/webfonts/JetBrainsMono-Light.woff2') format('woff2'),
         url('/webfonts/JetBrainsMono-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

body {
    background-color: #283a32; /* Dark green background color */
    color: #c3e88d; /* Light green text color */
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    border: 2px solid #8ae234; /* Green border color */
    font-family: 'JetBrains Mono', monospace;
    width: 80%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #283a32; /* Dark green terminal background */
}

#content {
    white-space: pre-wrap;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
}

#terminal-output {
    flex: 2;
    font-family: 'JetBrains Mono', monospace;
}

#terminal-input {
    background: none;
    border: none;
    color: #c3e88d; /* Light green text color */
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    outline: none;
    width: 100%;
}
